@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
* {
  box-sizing: border-box;
  font-family: "Lato";
}

i{
	font-size: 45px !important;
}

p{
	line-height: 1.5;
}

h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
  height: 850px;
	text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
	background-image: url("images/layer-8.png");
}

header p, h1{
	color: white;
}

.elipse{
  margin-top: 230px;
  margin-bottom: 50px;
}

.triangle{
  margin-top: 290px;
}

.about .container{
  padding: 100px;
}

.about p {
	padding: 40px;
}

.services{
  background: url("images/layer-4.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  color: white;
}
.services p{
	padding: 40px;
}

.services h2{
  padding: 45px;
}

.whatWeDo{
  padding-top: 60px;
}

.whatWeDo h2{
  padding: 40px;
}

.whatWeDo h3{
	padding: 35px;
}

.whatWeDo img{
  padding-top: 25px;
}


.contact{
	margin: 30px;
}

.contact p{
	padding: 30px;
}

.grid .container-fluid{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.cell{
  outline: 5px solid white;
  outline-offset: -4px;
  padding: 1px;

}

.contact .btn{
  width: 200px;
  background-color:  #1e1e15;
  color: white;

}

@media (max-width: 767px) {

    header{
      height: 650px;
    }
}
